<h1>band Info Page</h1>
<h2>Name: <%= @band.name()%></h2>
<h3>venue:</h3>
<% if @venues.any?() %>

<ul>
  <% @band.venues().each() do |venue| %>
  <li><%= venue.name()%></li>
  <% end %>
</ul>
<% else %>
  <p>There are no venues added yet!</p>
  <% end %>

  <% if @venues.any?() %>
  <form action="/bands/<%= @band.id() %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <% @venues.each() do |venue| %>
    <div class="checkbox">
      <label>
        <input type="checkbox" name="venue_ids[]" value="<%= venue.id() %>"><%= venue.name() %>
      </label>
    </div>
    <% end %>
    <button type="submit">Add venues</button>
  </form>
  <% end %>

  <ul>
    <% @band.venues().each() do |venue| %>
    <li><%= venue.name()%></li>
    <% end %>
  </ul>





  <h3>Update the name of <%=@band.name() %> </h3>

  <form action="/bands/<%= @band.id() %>" method="post">
    <input name="_method" type="hidden" value="patch">

    <label for "name">Rename the band:</label>
    <input id="name" name="name" type="text">
    <button type="submit">Update</button>
  </form>


  <h3>Remove this band from the salon</h3>
  <form action='/bands/<%= @band.id() %>' method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit">Delete band</button>
  </form>
  <p><a href="/">Return Home</a></p>
